{% extends 'base.html' %}

{% block content %}




  <div class="container">

    
    <div class="section">

 
  
      <div class="columns">
        <div class="column is-one-quarter"></div>
        <div class="column is-half">
     
          <h1 class="title">Najpierw się zaloguj</h1>
    
          <form class="box is-narrow" id="upload-form" action="{{ url_for('admin_bp.login') }}" method="POST">



            <div class="field">
              <label class="label">login</label>
              <div class="control">
                <input class="input" type="text" name="uzytkownik" placeholder="użytkownik" id="idUzytkownik">
              </div>
            </div>
          
            <div class="field">
              <label class="label">hasło</label>
              <div class="control">
                <input class="input" name="haslo" type="password" placeholder="********" id="idHaslo">
              </div>
            </div>
          
            <button class="button is-primary">Zaloguj</button>
          </form>
        </div>
        <div class="column is-one-quarter"></div>

      </div>

     
</div>


  </div>



  


{% endblock %}