.top-buffer {
    margin-top: 20px;
  }

  span {

    font-size: large;
  }

  path {
    fill: none;
    stroke-width: 1px;
    stroke: black;
  }

  path.kreska {
    fill: none;
    stroke-width: 2px;
    stroke: rgb(0, 0, 0);
  }

  path.kreska-czerwona {
    fill: none;
    stroke-width: 2px;
    stroke: rgb(171, 13, 13);
  }
  
  path.kreska-dot {
    fill: none;
    stroke-width: 2px;
    stroke: rgb(57, 53, 83);
    border-style: dotted;
    stroke-dasharray: 5;
  }

  line.kreska {
    fill: none;
    stroke-width: 2px;
    stroke: rgb(255, 0, 0);
  }

  line.kreska-czerwona {
    fill: none;
    stroke-width: 2px;
    stroke: rgb(143, 3, 112);
  }

  line.kreska-real {
    fill: none;
    stroke-width: 4px;
    stroke: rgb(2, 134, 68);
  }

  line.kreska-sym {
    fill: none;
    stroke-width: 4px;
    stroke: rgb(143, 3, 112);
  }

  line.kreska-dot {
    fill: none;
    stroke-width: 2px;
    stroke: rgb(57, 53, 83);
    border-style: dotted;
    stroke-dasharray: 1;
  }
  path.red {
    fill: none;
    stroke-width: 2px;
    stroke: red;
  }
  line.red {
    fill: none;
    stroke-width: 2px;
    stroke: red;
  }

  path.blue {
    fill: none;
    stroke-width: 2px;
    stroke: rgb(0, 119, 255);
  }
  line.blue {
    fill: none;
    stroke-width: 2px;
    stroke: rgb(0, 119, 255);
  }
  path.blue-dot{
    fill: none;
    stroke-width: 2px;
    stroke: rgb(0, 119, 255);
    border-style: dotted;
    stroke-dasharray: 5;
  }
  line.blue-dot{
    fill: none;
    stroke-width: 2px;
    stroke: rgb(0, 119, 255);
    border-style: dotted;
    stroke-dasharray: 5;
  }

  path.red-dot {
    fill: none;
    stroke-width: 1px;
    stroke: red;
    border-style: dotted;
    stroke-dasharray: 5;
  }
  line.red-dot {
    fill: none;
    stroke-width: 1px;
    stroke: red;
    border-style: dotted;
    stroke-dasharray: 5;
  }
  circle {

    fill: rgb(91, 182, 5);
  }
  circle.nom {

    fill: none;
    stroke-width: 1px;
    stroke: black;
  }
  circle.nadplata {

    fill: black;

  }
  path.black-dot {
    fill: none;
    stroke-width: 1px;
    stroke: black;
    border-style: dotted;
    stroke-dasharray: 5;
  }

  line.gridline {
    fill: none;
    stroke-width: 1px;
    stroke: black;
    border-style: dotted;
    stroke-dasharray: 5;
  }

  div.wykresy {
    margin-left: 0px;
    padding-left: 0px;

  }

  a.metoda:link,
  a.metoda:visited {

    color: gray;


  }
  .alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}

sumatd {
  font-weight:bold;
}