<!doctype html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="{{ url_for('static', filename='node_modules/d3/dist/d3.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bulma/css/bulma.min.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<title>Kredyty</title>
<style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    .box {
        background-color: rgb(247, 247, 247);
    }


    #wrapper {
        flex: 1;
    }


    .filler {
        position: absolute;
        left: 0;
        right: 0;
        border-bottom: 1px dashed #333;
        height: 50%;
    }

    .naklejka {
        background: rgb(247, 247, 247);
        float: left;
        margin-right: 20px;
        padding-right: 4px;
        position: relative;
    }

    .tekst {
        background: rgb(247, 247, 247);
        padding-left: 4px;
        position: relative;
    }



    .kontainer {
        position: relative;
        text-align: right;
        white-space: nowrap;
    }
</style>



<nav class="navbar is-info" role="navigation" aria-label="main navigation" id="nav-bar">
    <div class="navbar-brand">
        <p class="navbar-item">
            <img src="{{ url_for('static', filename='logo.png')}}" width="40" height="40">
        </p>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>



    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

            <p class="navbar-item">
                Kalkulator RRSO
            </p>



        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if current_user.is_authenticated %}
                    <a class="button is-light" href="{{ url_for('admin_bp.logout') }}">
                        {{current_user.name}} - Wyloguj
                    </a>
                    {%- else %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>




<div id="wrapper">
    <section class="content">



        <div class="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="alert">{{ message }}</div>
            {% else %}
            <div class="notification is-success">{{ message }}</div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}

        </div>




        <div class="block">
            <div class="container">

                <form id="kredyt-form" action="{{ url_for('rrso.rrso_main') }}" method="POST">

                    <div class="field is-horizontal">
                        <div class="field-body">

                            <div class="field is-narrow">
                                <label class="label">Data umowy</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="DD/MM/YYYY" name="data_umowy">
                                </div>
                            </div>

                            <div class="field is-narrow">
                                <label class="label">Całkowita kwota kredytu</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Kredyt (PLN)" name="calkowita_kwota">
                                </div>
                            </div>

                            <div class="field is-narrow">
                                <label class="label">Kwota udzielonego kredytu</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Kredyt + prowizja (PLN)"
                                        name="udzielona_kwota">
                                </div>
                            </div>


                        </div>
                    </div>


                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field is-narrow">
                                <label class="label">Liczba rat miesięcznych</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="okresy" name="okresy">
                                </div>
                            </div>

                            <div class="field is-narrow">
                                <label class="label">Rodzaj rat</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select name="rodzaj_rat">
                                            <option value="rowne" selected>równe</option>
                                            <option value="malejace">malejące</option>
                                        </select>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-body">

                            <div class="field is-narrow">
                                <label class="label">Oprocentowanie pożyczki</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select name="oprocentowanie_pozyczki">
                                            <option value="stale" selected>stałe</option>
                                            <option value="zmienne">zmienne</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-narrow">
                                <label class="label">Wysokość oprocentowania stałego</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="stopa opr. stałego %"
                                        name="oprocentowanie_stale">
                                </div>
                            </div>

                            <div class="field is-narrow">
                                <label class="label">Rodzaj wiboru</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select name="rodzaj_wiboru" disabled>
                                            <option value="1M">Wibor 1M</option>
                                            <option value="3M" selected>Wibor 3M</option>
                                            <option value="6M">Wibor 6M</option>
                                            <option value="stopa_ref">Stopa ref. NBP</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">

                            <div class="field is-narrow">
                                <label class="label">Marża</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="marża (%)" name="marza">
                                </div>
                            </div>

                            <div class="field is-narrow">
                                <label class="label">Pozaodsetkowe koszty kredytu</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Ile? (PLN)"
                                        name="pozaodsetkowe_koszty">
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="field is-narrow">
                        <div class="control">
                            <button type="submit" class="button is-primary" id="idGuzik">
                                Oblicz
                            </button>
                        </div>
                    </div>





                </form>

            </div>
        </div>




    </section>

    <section id="wynik" class="is-hidden">
        <div class="container">
            <div class="box">
                <div class="block">

                    <div class="columns">
                        <div class="column">
                            <ul class="list-group list-group-flush">
                                <li>
                                    <div class="kontainer">
                                        <div class="filler"></div><span class="naklejka">Data umowy</span><span
                                            class="tekst" id="data_umowy"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="kontainer">
                                        <div class="filler"></div><span class="naklejka">Całkowita kwota
                                            kredytu</span><span class="tekst" id="calkowita_kwota"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="kontainer">
                                        <div class="filler"></div><span class="naklejka">Kwota udzielonego
                                            kredytu</span><span class="tekst" id="kwota_udzielonego"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="kontainer">
                                        <div class="filler"></div><span class="naklejka">Liczba rat</span><span
                                            class="tekst" id="okresy"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="kontainer">
                                        <div class="filler"></div><span class="naklejka">Rodzaj rat</span></span><span
                                            class="tekst" id="rodzaj_rat"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="kontainer">
                                        <div class="filler"></div><span class="naklejka">Prowizja</span><span
                                            class="tekst" id="prowizja"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="column">
                            <ul>
                                <li>
                                    <div class="kontainer">
                                        <div class="filler"></div><span class="naklejka">Rodzaj
                                            oprocentowania</span></span><span class="tekst"
                                            id="rodzaj_oprocentowania"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="kontainer">
                                        <div class="filler"></div><span class="naklejka">Wskaźnik
                                            </span></span><span class="tekst" id="rodzaj_wiboru"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="kontainer">
                                        <div class="filler"></div><span class="naklejka">Wysokość oprocentowania
                                            </span></span><span class="tekst" id="oprocentowanie_stale"></span>
                                    </div>
                                </li>

                                <li>
                                    <div class="kontainer">
                                        <div class="filler"></div><span class="naklejka">Marża</span></span><span
                                            class="tekst" id="marza"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="kontainer">
                                        <div class="filler"></div><span class="naklejka">Całkowite
                                            oprocentowanie</span><span class="tekst"
                                            id="calkowite_oprocentowanie"></span>
                                    </div>
                                </li>
                                <li>
                                    <div class="kontainer">
                                        <div class="filler"></div><span class="naklejka">Pozaodsetkowe koszty
                                            kredytu</span></span><span class="tekst" id="pozaodsetkowe_koszty"></span>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-6">
            <div class="block"></div>
        </div>
        <div class="container mt-6">
            <div class="block">
                <div class="box">
                    <nav class="level">
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">RRSO (Całkowita kwota kredytu tj. kwota wypłacona kredytobiorcy)</p>
                                <p class="title" id="rrso_bez_p"></p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">RRSO (Kwota udzielonego kredytu tj. wypłacona i pobrane koszty kredytu)</p>
                                <p class="title" id="rrso_z_p"></p>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container mt-6">
            <div class="block">
                <div class="box">
                    <nav class="level">

                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Pozaodsetkowe Koszty Kredytu</p>
                                <p class="title" id="pkk"></p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Maksymalne Pozaodsetkowe Koszty Kredytu</p>
                                <p class="title" id="mpkk_bez_p"></p>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container mt-6">
            <div class="block">
                <div class="box">
                    <nav class="level">

                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Zawyżone saldo kredytu (tj. podstawy oprocentowania kredytu)</p>
                                <p class="title" id="zwrot_kapital"></p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Nielegalnie pobrane odsetki</p>
                                <p class="title" id="zwrot_odsetki"></p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <div>
                                <p class="heading">Do zwrotu - razem</p>
                                <p class="title" id="zwrot_razem"></p>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container mt-6">
            <div class="block"> 
                <table class="table is-fullwidth is-hoverable">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th colspan="4" style='text-align:center;border-left: 1px solid lightgray;'>KREDYT ROZLICZANY OD CAŁKOWITEJ KWOTY KREDYTU</th>
                            <th colspan="3" style='text-align:center;border-left: 1px solid lightgray;'>KREDYT ROZLICZANY OD UDZIELONEJ KWOTY KREDYTU</th>
                            <th colspan="2" style='text-align:center;border-left: 1px solid lightgray; '>NIEPRAWIDŁOWOŚCI W ROZLICZANIU KREDYTU</th>
                        </tr>
                        <tr>
                            <th>Nr raty</th>
                            <th>Dzień</th>
                            <th style='border-left: 1px solid lightgray;'>Rata kapitałowa</th>
                            <th>Rata odsetkowa</th>
                            <th>Kredytowane koszty</th>
                            <th>Rata całkowita</th>
                            <th style='border-left: 1px solid lightgray;'>Rata kapitałowa</th>
                            <th>Rata odsetkowa</th>
                            <th>Rata całkowita</th>
                            <th style='border-left: 1px solid lightgray;'>Zawyżone saldo kapitału</th>
                            <th>Nielegalnie pobrane odsetki</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>

    </section>

</div>

<footer class="footer">
    <div class="content has-text-centered">

        Kalkulator RRSO 2023

    </div>
</footer>

<script type="module">
    console.log('by name')
    console.log(document.getElementsByName("oprocentowanie_pozyczki")[0].value)

    document.getElementsByName("oprocentowanie_pozyczki")[0].addEventListener("change",
        function () {

            if (this.value == 'zmienne') {
                document.getElementsByName("oprocentowanie_stale")[0].disabled = true;
                document.getElementsByName("rodzaj_wiboru")[0].disabled = false;

            } else {
                document.getElementsByName("oprocentowanie_stale")[0].disabled = false;
                document.getElementsByName("rodzaj_wiboru")[0].disabled = true;

            }
            console.log(this.value)

        });

    // read request object as json string

    const dane = JSON.parse('{{ request.form | tojson | safe}}');
    console.log('dane')
    console.log(dane)


    // check if dane is not empty dict


    if (Object.keys(dane).length > 0) {

        if (dane['oprocentowanie_pozyczki'] == 'zmienne') {
            document.getElementsByName("oprocentowanie_stale")[0].disabled = true;
            document.getElementsByName("rodzaj_wiboru")[0].disabled = false;

        } else {
            document.getElementsByName("oprocentowanie_stale")[0].disabled = false;
            document.getElementsByName("rodzaj_wiboru")[0].disabled = true;

        }


        document.getElementsByName("data_umowy")[0].value = dane['data_umowy'];

        document.getElementsByName("calkowita_kwota")[0].value = dane['calkowita_kwota'];
        document.getElementsByName("udzielona_kwota")[0].value = dane['udzielona_kwota'];

        document.getElementsByName("okresy")[0].value = dane['okresy'];
        document.getElementsByName("rodzaj_rat")[0].value = dane['rodzaj_rat'];

        document.getElementsByName("oprocentowanie_pozyczki")[0].value = dane['oprocentowanie_pozyczki'];

        if ('oprocentowanie_stale' in dane) {
            document.getElementsByName("oprocentowanie_stale")[0].value = dane['oprocentowanie_stale'];
        } else {
            document.getElementsByName("oprocentowanie_stale")[0].value = ''
        }



        if ('rodzaj_wiboru' in dane) {
            document.getElementsByName("rodzaj_wiboru")[0].value = dane['rodzaj_wiboru'];
        } else {

            document.getElementsByName("rodzaj_wiboru")[0].value = '3M';
        }



        document.getElementsByName("marza")[0].value = dane['marza'];

        document.getElementsByName("pozaodsetkowe_koszty")[0].value = dane['pozaodsetkowe_koszty'];


    }

    const wynik = JSON.parse({{ wynik_json| tojson | safe}});
    console.log(wynik)



    var zloty = function (d) { return d3.format(",.2f")(d) + " zł"; }


    if (Object.keys(wynik).length > 0) {


        d3.select("section#wynik").classed("is-hidden", false);

        // są wyniki
        console.log('sa wyniki')


        d3.select("span#data_umowy").text(dane['data_umowy'])
        d3.select("span#calkowita_kwota").text(zloty(dane['calkowita_kwota']))
        d3.select("span#kwota_udzielonego").text(zloty(dane['udzielona_kwota']))
        d3.select("span#okresy").text(dane['okresy'])
        d3.select("span#rodzaj_rat").text(function (d) {
            if (dane['rodzaj_rat'] == 'rowne') {
                return 'równe'
            }
            else {
                return 'malejące'
            }

        }
        );


        d3.select("span#rodzaj_oprocentowania").text(function (d) {
            if (dane['oprocentowanie_pozyczki'] == 'stale') {
                return 'stałe'
            }
            else {
                return 'zmienne'
            }

        }
        );




        if ('oprocentowanie_stale' in dane) {
            d3.select("span#oprocentowanie_stale").text(dane['oprocentowanie_stale'] + '%')
        } else {
            d3.select("span#oprocentowanie_stale").text(wynik['wibor']+ '%')
        }

        if ('rodzaj_wiboru' in dane) {
            // create 3 cases
            if (dane['rodzaj_wiboru'] == 'stopa_ref') {
                d3.select("span#rodzaj_wiboru").text('Stopa referencyjna NBP')
            }
            else {
                d3.select("span#rodzaj_wiboru").text('WIBOR ' + dane['rodzaj_wiboru'])
            }
       
        }
        else {
            d3.select("span#rodzaj_wiboru").text('nie dotyczy')
        }

        d3.select("span#marza").text(dane['marza'] + '%');

        d3.select("span#pozaodsetkowe_koszty").text(zloty(dane['pozaodsetkowe_koszty']));

        d3.select("span#prowizja").text(zloty(wynik['prowizja']));
        d3.select("span#calkowite_oprocentowanie").text(wynik['stopa'] + '%');


        d3.select("p#rrso_bez_p").text(wynik['rrso'] + '%');
        d3.select("p#rrso_z_p").text(wynik['rrso_prowizja'] + '%');


        d3.select("p#mpkk_bez_p").text(zloty(wynik['mpkk']));
        d3.select("p#pkk").text(zloty(dane['pozaodsetkowe_koszty']));

        


        let tabela = d3.select("table")

        let wiersz = tabela.append("tbody")
            .selectAll("tr").data(wynik['raty_porownanie'])
            .enter().append("tr")


        wiersz.append("td")
            .text(function (d) { return d.nr_raty })

        wiersz.append("td")
            .text(function (d) { return d.dzien })


        wiersz.append("td")
            .text(function (d) { return zloty(d.kapital) })
            .style('border-left', '1px solid lightgray');


        wiersz.append("td")
            .text(function (d) { return zloty(d.odsetki) })

            wiersz.append("td")
            .text(function (d) { return zloty(d.kredytowane_koszty) })

        wiersz.append("td")
            .text(function (d) { return zloty(d.rata) })

        wiersz.append("td")
            .text(function (d) { return zloty(d.kapital_prowizja) })
            .style('border-left', '1px solid lightgray');


        wiersz.append("td")
            .text(function (d) { return zloty(d.odsetki_prowizja) })


        wiersz.append("td")
            .text(function (d) { return zloty(d.rata_prowizja) })

        wiersz.append("td")
            .text(function (d) { return zloty(d.do_zwrotu_kapital) })
            .style('border-left', '1px solid lightgray');
        wiersz.append("td")
            .text(function (d) { return zloty(d.do_zwrotu_odsetki) })



        let wiersz_ostatni = tabela.select("tbody").append("tr").style("font-weight", "bold")

        wiersz_ostatni.append("td")
            .text('')



            wiersz_ostatni.append("td")
            .text('')

                     // sum all elements 'kapital' in raty_porownanie array
         let suma_kapitalow  = d3.sum(wynik['raty_porownanie'], d => d.kapital)       



            wiersz_ostatni.append("td")
            .text(zloty(suma_kapitalow))
            .style('border-left', '1px solid lightgray');

            let suma_odsetek  = d3.sum(wynik['raty_porownanie'], d => d.odsetki)       



            wiersz_ostatni.append("td")
            .text(zloty(suma_odsetek))

            let suma_kred_kosztow  = d3.sum(wynik['raty_porownanie'], d => d.kredytowane_koszty)    

            wiersz_ostatni.append("td")
            .text(zloty(suma_kred_kosztow))

            let suma_rat  = d3.sum(wynik['raty_porownanie'], d => d.rata)       


            wiersz_ostatni.append("td")
            .text(zloty(suma_rat))

            let suma_kapitalowa_prowizja = d3.sum(wynik['raty_porownanie'], d => d.kapital_prowizja)       



            wiersz_ostatni.append("td")
            .text(zloty(suma_kapitalowa_prowizja))
            .style('border-left', '1px solid lightgray');

            let suma_odsetek_prowizja  = d3.sum(wynik['raty_porownanie'], d => d.odsetki_prowizja)       


            wiersz_ostatni.append("td")
            .text(zloty(suma_odsetek_prowizja))

            let suma_rat_prowizja  = d3.sum(wynik['raty_porownanie'], d => d.rata_prowizja)       

            wiersz_ostatni.append("td")
            .text(zloty(suma_rat_prowizja))    


            let suma_do_zwrotu_kapital = d3.sum(wynik['raty_porownanie'], d => d.do_zwrotu_kapital)       


            wiersz_ostatni.append("td")
            .text(zloty(suma_do_zwrotu_kapital))
            .style('border-left', '1px solid lightgray');

            let suma_do_zwrotu_odsetki = d3.sum(wynik['raty_porownanie'], d => d.do_zwrotu_odsetki)       


            wiersz_ostatni.append("td")
            .text(zloty(suma_do_zwrotu_odsetki))


            let suma_do_zwrotu = d3.sum(wynik['raty_porownanie'], d => d.do_zwrotu)       
  


        // // for column do_zwrotu make background color green
        // d3.selectAll("td:nth-child(6)").style("background-color", "rgb(220,220,220)");
        // d3.selectAll("td:nth-child(7)").style("background-color", "rgb(220,220,220)");

        d3.select("p#zwrot_kapital").text(zloty(suma_do_zwrotu_kapital));
        d3.select("p#zwrot_odsetki").text(zloty(suma_do_zwrotu_odsetki));
        d3.select("p#zwrot_razem").text(zloty(suma_do_zwrotu));
        

    }






</script>