{% extends 'base.html' %}

{% block content %}


  <div class="content">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert">{{ message }}</div>
        {% else %}
        <div class="notification is-success">{{ message }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}

  </div>

    <div class="section" id="takietam">


    </div>

<script type="module">

const kredyty = JSON.parse('{{kredyty|safe}}');
console.log(kredyty);

console.log(kredyty)

let kurde = d3.select("#takietam").selectAll('div.kredyty').data(kredyty)
.enter()
.append('div')
.attr('class', "kredyty columns mt-0")
.attr('style', "border:1px solid black;")

kurde.append('div').attr('class', 'column').html(d=>d.wartosc)
kurde.append('div').attr('class', 'column').html(d=>d.data_uruchomienia)

let button = kurde.append('div').attr('class', 'column is-2').append('button')
.attr('class', 'button is-primary is-pulled-right')
.attr('id',d=>'kredyt-'+d.id).text(d=>'Oblicz')
.attr('onclick', d=> "window.location.href='{{ url_for('dom.obliczkredyt', kredyt_id=0) }}'".replace("0",d.id))

let button_edit = kurde.append('div').attr('class', 'column is-2').append('button')
.attr('class', 'button is-warning is-pulled-right')
.attr('id',d=>'kredyt-'+d.id).text(d=>'edytuj'+d.id)
.attr('onclick', d=> "window.location.href='{{ url_for('dom.kredyt', kredyt_id=0) }}'".replace("0",d.id))


let button_usun = kurde.append('div').attr('class', 'column is-2').append('button')
.attr('class', 'button is-danger is-pulled-right')
.attr('id',d=>'kredyt-'+d.id).text(d=>'usun'+d.id)
.attr('onclick', d=> "window.location.href='{{ url_for('dom.kredyt', kredyt_id=0, usun=True) }}'".replace("0",d.id))





    

</script>

{% endblock %}