{% extends "template.html" %}
{% block content %}

<h2>Wibor 3M</h2>
<style>
.box {
display: inline-block;
}
</style>
<div class="container">
  <div id="chart" class="box"></div>
  <div id="roznice" class="box"></div>
</div>



<script type="text/javascript">

  dane = {{wibor_dane|tojson}};

  console.log(dane)



  var margin = {top: 30, right: 30, bottom: 70, left: 30},
      width_chart = 730,
      width = width_chart - margin.left - margin.right,
      height = 400- margin.top - margin.bottom;


      // append the svg object to the body of the page
      var svg = d3.select("#chart")
        .append("svg")
          .attr("class", "svg-holder")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .attr("style", "border:1px solid black;")
          .style('background', "white")
          .append("g")
            .attr("transform",
                  "translate(" + margin.left + "," + margin.top + ")");


        var parseDate = d3.timeParse("%d/%m/%Y");

        dane.forEach(function(d) {
               d.day = parseDate(d.day)
               d.value = parseFloat(d.value)

        });



        dane.push({'day': new Date(), 'value': dane[dane.length-1].value})


        var xscale = d3.scaleTime()
               .domain(d3.extent(dane,d=>d.day))
               .range([0, width]);


       var maxYvalue = d3.max(dane, function(d) { return d.value });
       var minYvalue = d3.min(dane, function(d) { return d.value });
       // Add Y axis

       var yscale = d3.scaleLinear()
         .domain([0, maxYvalue+0.5])
         .range([ height, 0]);




        for (var i=0; i<dane.length-1; i++) {

               console.log(i);

                svg.append("line")
                  .attr("x1", xscale(dane[i].day))
                  .attr("y1", yscale(dane[i].value))
                  .attr("x2", xscale(dane[i+1].day))
                  .attr("y2", yscale(dane[i].value))
                  .style("stroke-width", 2)
                  .style("stroke", "red")


                  svg.append("line")
                    .attr("x1", xscale(dane[i+1].day))
                    .attr("y1", yscale(dane[i+1].value))
                    .attr("x2", xscale(dane[i+1].day))
                    .attr("y2", yscale(dane[i].value))
                    .style("stroke-width", 2)
                    .style("stroke", "red")
                    .style("stroke-dasharray","4");

        }


           svg.append("g")
             .attr("class", "xAxis3")
             .attr("transform", "translate( 0," + height + ")")
             .call(d3.axisBottom(xscale))
             .selectAll("text")
               .attr("transform", "translate(-10,0)rotate(-45)")
               .style("text-anchor", "end")
               .style("font-size","13px");


           d3.selectAll("g.xAxis3 g.tick")
               .append("line")
               .attr("class", "gridline")
               .attr("x1", 0)
               .attr("y1", -height)
               .attr("x2", 0)
               .attr("y2", 0);



           svg.append("g")
               .attr("class", "yAxis3")
               .call(d3.axisLeft(yscale))
               .style("font-size","13px");


            d3.selectAll("g.yAxis3 g.tick")
                .append("line")
                .attr("class", "gridline")
                .attr("x1", 0)
                .attr("y1", 0)
                .attr("x2", width)
                .attr("y2", 0);
</script>

<script type="text/javascript">


    var dane_N = {{roznice_opcje|tojson}}
    console.log(dane_N)

    var margin = {top: 30, right: 30, bottom: 70, left: 30},
        width_chart = 730,
        width = width_chart - margin.left - margin.right,
        height = 400- margin.top - margin.bottom;


    // append the svg object to the body of the page
    var svg = d3.select("#roznice")
      .append("svg")
        .attr("class", "svg-holder")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .attr("style", "border:1px solid black;")
        .style('background', "white")
        .append("g")
          .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");



      var extents = [d3.extent(dane_N,d=>d.N1), d3.extent(dane_N,d=>d.N2)].flat()
      var maxYvalue = d3.max(extents);
      var minYvalue = d3.min(extents);

      var yscale = d3.scaleLinear()
        .domain([0, maxYvalue+0.5])
        .range([ height, 0]);

      var xscale = d3.scaleBand().domain( Array.from(Array(dane_N.length).keys()) ).range([0, width])


      const line1 = d3.line()
          .y(d => yscale(d.N1))
          .x((d,i) => xscale(i))

      const line2 = d3.line()
              .y(d => yscale(d.N2))
              .x(function(d,i) { return xscale(i) })


      svg.append('path')
      .datum(dane_N)
      .attr('d', line1)
      .style("stroke-width", 1)
      .style("stroke", "red")


      svg.append('path')
      .datum(dane_N)
      .attr('d', line2)
      .style("stroke-width", 1)










</script>

{% endblock %}
