{% extends 'base.html' %}

{% block content %}


<div class="content">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'error' %}
  <div class="alert">{{ message }}</div>
  {% else %}
  <div class="notification is-success">{{ message }}</div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}


  <div class="container">


    <div class="section">

      
        <h1 class="title">Moje kredyty</h1>
      
    

    <table class="table">
      <thead>
        <tr>
          <th>Wartość</th>
          <th>Data Uruchomienia</th>
          <th></th>

        </tr>
      </thead>

    </table>
  </div>

  </div>
</div>
  <script type="module">

    const kredyty = JSON.parse('{{kredyty|safe}}');
    console.log(kredyty);


    let tabela = d3.select("table")

    let wiersz = tabela.append("tbody")
      .selectAll("tr").data(kredyty)
      .enter().append("tr")


    wiersz.append("td")
      .text(function (d) { return d.wartosc })


    wiersz.append("td")
      .text(function (d) { return d.data_uruchomienia })


    wiersz.append("td")
      .append('button')
      .attr('class', 'button is-primary is-pulled-right')
      .attr('id', d => 'kredyt-' + d.id).text(d => 'Wybierz')
      .attr('onclick', d => "window.location.href='{{ url_for('dom.obliczkredyt', kredyt_id=0) }}'".replace("0", d.id))




  </script>

  {% endblock %}