<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{{url_for('static', filename='d3.js')}}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
     
    <title>Oblicz WPS</title>
    <style>

.top-buffer { margin-top:20px; }

span {

  font-size: large;
}
    </style>
  </head>
  <body>



  <div class="container">
 <!-- Image and text -->
    <div class="row">
      <div class="col">
    <nav class="navbar navbar-light bg-light">
      <h1>Logowanie</h1>
    </nav>
    </div>
    </div>
    <div class="row top-buffer">
      <div class="col">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-primary" role="alert">
      Niepoprawne dane w formularzu.
    </div>
    {% endif %}
  {% endwith %}
  </div></div>
    
      <form id="upload-form" action="{{ url_for('admin_bp.login') }}" method="POST">
  
        <div class="row top-buffer">
          <div class="col-lg-3">
            <label for="idKapital1">Użytkownik</label>
            <input type="text" class="form-control" placeholder="" name="uzytkownik"  id="idUzytkownik">
          </div>
          <div class="col-lg-3">
            <label for="idData1">Hasło</label>
            <input type="password" class="form-control" placeholder="" name="haslo"  id="idHaslo">
          </div>

          

        </div>
        <div class="text-right top-buffer">

                <button type="submit" class="btn btn-primary">Zaloguj</button>
        </div>

  
           

      </form>


     

    <div class="row top-buffer">
      <div class="col">
      <nav class="navbar navbar-light bg-light">
        <span class="navbar-text">
          2023
        </span>
      </nav>
    </div>

  </div>



  
</div>

    

  </body>
</html>
