{% macro render_field(field, readonly) %}
{% if field.type == 'StringField' %}
<label for="id{{field.id}}">{{ field.label.text }}</label>
<input type="text" class="form-control" placeholder={{field.description}}  name={{field.id}}  id="id{{field.id}}" {% if readonly %}readonly{% endif %}>
{% elif field.type == 'SelectField' %}
<label class="mr-sm-2" for="id{{field.id}}">{{ field.label.text }}</label>
<select class="custom-select mr-sm-2" name={{field.id}} id="id{{field.id}}">
  {% for fi in field.choices %}
  <option value={{fi[0]}}>{{fi[1]}}</option>
  {% endfor %}
</select>
{% endif %}
{% endmacro %}