<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="{{url_for('static', filename='d3.js')}}"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <style>
    .container {

      display: grid;
      place-items: center;
    }
  </style>
  <title>Kiedy płatność raty</title>

</head>

<body>



  <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="container">
      <div class="row">
        <div class="col">
          Wpisz datę uruchomienia kredytu
        </div>
      </div>
      <div class="row">
        <form class="form-inline">
          <div class="col">

            <input type="text" class="form-control" placeholder="DD/MM/RRRR" name="data_uruchomienia" id="dataUruchomienia">

      
        
            <button type="submit" class="btn btn-primary" id="guzik">Zatwierdź</button>
          </div>
        </form>
      </div>
    </div>

  </div>

  <script>

    document.getElementById('guzik').addEventListener('click', function (event) {
      event.preventDefault(); // To prevent following the link (optional)
      console.log("clik")

      d3.select("#dataUruchomienia").attr("style", "border:3px solid #ff0000")

    });

  </script>

</body>

</html>