<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{{url_for('static', filename='d3.js')}}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
    <title>Oblicz WPS</title>
    <style>
        .top-buffer {
            margin-top: 20px;
        }

        span {

            font-size: large;
        }

        path {
            fill: none;
            stroke-width: 1px;
            stroke: black;
        }

        path.kreska {
            fill: none;
            stroke-width: 2px;
            stroke: rgb(0, 0, 0);
        }

        path.kreska2 {
            fill: none;
            stroke-width: 2px;
            stroke: rgb(57, 53, 83);
            border-style: dotted;
            stroke-dasharray: 5;
        }

        path.red {
            fill: none;
            stroke-width: 2px;
            stroke: red;
        }

        path.red-dot {
            fill: none;
            stroke-width: 1px;
            stroke: red;
            border-style: dotted;
            stroke-dasharray: 5;
        }

        path.black-dot {
            fill: none;
            stroke-width: 1px;
            stroke: black;
            border-style: dotted;
            stroke-dasharray: 5;
        }

        line.gridline {
            fill: none;
            stroke-width: 1px;
            stroke: black;
            border-style: dotted;
            stroke-dasharray: 5;
        }

        div.wykresy {
            margin-left: 0px;
            padding-left: 0px;

        }

        a.metoda:link,
        a.metoda:visited {

            color: gray;


        }
    </style>
</head>

<body>
    <div class="container">

          <div class="row top-buffer">
            <div class="col" id="dane">
                <ul class="list-group list-group-flush">
                    <li>Kapitał pożyczony: <div style="float: right" id="kapital"></div></li>
                    <li>Marża:<div style="float: right" id="marza"></div></li>
                    <li>Okresy:<div style="float: right" id="okresy"></div></li>
                    <li>Data uruchomienia:<div style="float: right" id="data_start"></div></li>
                    <li>Suma rat:<div style="float: right" id="suma_rat"></div></li>
                    <li>Suma nadpłat:<div style="float: right" id="suma_nadplat"></div></li>
                    <li>Zapłacono do banku:<div style="float: right" id="suma_cala"></div></li>
                </ul>
            </div>

            
                
        </div>
        <div class="row top-buffer">
            
            <div class="col" id="ryswibor">
                
            </div>
        </div>
        <div class="row top-buffer">
            
            <div class="col" id="rysInflacja">
                
            </div>
        </div>
        <div class="row top-buffer">
            
              <div class="col" id="wykres_kapital">
            
          </div>
        </div>
        <div class="row top-buffer">
            <div class="col" id="wykres_real">
              
            </div>
            </div>
        </div>
    </div>

</body>

<script type="module">
import { create_graph } from "{{url_for('static', filename='graph.js')}}";




var dane1 = JSON.parse('{{wynik|safe}}');
var inflacja = JSON.parse('{{inflacja|safe}}');

var real_wartosci = JSON.parse('{{real_wartosci|safe}}');

var real_wartosc_nieruchomosc = JSON.parse('{{real_wartosc_nieruchomosc|safe}}');

var wibor = {{wibor|tojson}};

var fin_data = {{fin_data|tojson}};

console.log(dane1);
console.log(wibor);
console.log(fin_data);
console.log(inflacja);
console.log(real_wartosci);
console.log(real_wartosc_nieruchomosc);

var parseDate = d3.timeParse("%Y-%m");
var parseDateWibor = d3.timeParse("%Y-%m-%d");


var zloty = function (d) { return d3.format(",.2f")(d) + " zł"; }

suma_rat = d3.sum(dane1['raty'], d => d.rata)
console.log(suma_rat);

suma_nadplat = d3.sum(dane1['nadplaty'], d => d.kwota)


var suma_kapitalow   = d3.sum(dane1['raty'], d => d.kapital)
console.log(suma_kapitalow);



wibor.forEach(function (d) {
  d.dzien = parseDateWibor(d.date)
  d.wartosc = parseFloat(d.value)
});

inflacja.forEach(function (d) {
  d.miesiac = parseDateWibor(d.date)
  d.wartosc = parseFloat(d.value)
});

var width_docs = document.getElementById('ryswibor').clientWidth;

var margin = { top: 60, right: 30, bottom: 70, left: 80 },
  width = width_docs - margin.left - margin.right,
  height = 450 - margin.top - margin.bottom;

  var containerwibor= d3.select('#ryswibor');


// Position the div element above the SVG container
var svgwibor = containerwibor
  .append("svg")
  .attr("class", "svg-holder")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .attr("style", "border:1px solid black;")
  .style('background', "white")
  .append("g")
  .attr("transform",
    "translate(" + margin.left + "," + margin.top + ")");

var xscalewibor = d3.scaleTime()
    .domain(d3.extent(wibor, d => d.dzien))
    .range([0, width]);


var xAxisWibor = svgwibor.append("g")
    .attr("class", "xAxis")
    .attr("transform", "translate(0," + height + ")")

xAxisWibor.call(d3.axisBottom(xscalewibor).tickFormat(d3.timeFormat('%Y-%m')))
  .selectAll("text")
  .attr("transform", "translate(-10,0)rotate(-45)")
  .style("text-anchor", "end")
  .style("font-size", "13px");

var gridswibor = svgwibor.append('g')
    .selectAll('line')
    .data(xscalewibor.ticks())
    .enter().append('line')
    .attr('class', 'gridline')
    .attr('x1', d => xscalewibor(d))
    .attr('x2', d => xscalewibor(d))
    .attr('y1', 0)
    .attr('y2', height)


var maxYvalueW = d3.max(wibor, function (d) { return d.wartosc });
var minYvalueW = d3.min(wibor, function (d) { return d.wartosc });

var yscalewibor = d3.scaleLinear()
  .domain([minYvalueW, maxYvalueW])
  .range([height, 0]);

  var gridsHwibor = svgwibor.append('g')
  .selectAll('line')
  .data(yscalewibor.ticks())
  .enter().append('line')
  .attr('class', 'gridline')
  .attr('x1', 0)
  .attr('x2', width)
  .attr('y1', d=>yscalewibor(d))
  .attr('y2', d=>yscalewibor(d))

  svgwibor.append("g")
  .attr("class", "yAxis")
  .call(d3.axisLeft(yscalewibor))
  .style("font-size", "13px");


  var kreska_wibor = svgwibor.append("path")
  .datum(wibor)
  .attr("class", "kreska")
  .attr("d", d3.line()
    .x(function (d) { return xscalewibor(d.dzien) })
    .y(function (d) { return yscalewibor(d.wartosc) })
  )




  var containeinflacja= d3.select('#rysInflacja');

// Position the div element above the SVG container
var svginflacja = containerwibor
  .append("svg")
  .attr("class", "svg-holder")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .attr("style", "border:1px solid black;")
  .style('background', "white")
  .append("g")
  .attr("transform",
    "translate(" + margin.left + "," + margin.top + ")");

var xscaleinflacja = d3.scaleTime()
    .domain(d3.extent(inflacja, d => d.miesiac))
    .range([0, width]);


var xAxisInflacja= svginflacja.append("g")
    .attr("class", "xAxis")
    .attr("transform", "translate(0," + height + ")")

xAxisInflacja.call(d3.axisBottom(xscaleinflacja).tickFormat(d3.timeFormat('%Y-%m')))
  .selectAll("text")
  .attr("transform", "translate(-10,0)rotate(-45)")
  .style("text-anchor", "end")
  .style("font-size", "13px");

var gridsinflacja = svginflacja.append('g')
    .selectAll('line')
    .data(xscaleinflacja.ticks())
    .enter().append('line')
    .attr('class', 'gridline')
    .attr('x1', d => xscaleinflacja(d))
    .attr('x2', d => xscaleinflacja(d))
    .attr('y1', 0)
    .attr('y2', height)


var maxYvalueI = d3.max(inflacja, function (d) { return d.wartosc });
var minYvalueI = d3.min(inflacja, function (d) { return d.wartosc });

var yscaleinflacja = d3.scaleLinear()
  .domain([minYvalueI, maxYvalueI])
  .range([height, 0]);

  var gridsHinflacja = svginflacja.append('g')
  .selectAll('line')
  .data(yscaleinflacja.ticks())
  .enter().append('line')
  .attr('class', 'gridline')
  .attr('x1', 0)
  .attr('x2', width)
  .attr('y1', d=>yscaleinflacja(d))
  .attr('y2', d=>yscaleinflacja(d))

  svginflacja.append("g")
  .attr("class", "yAxis")
  .call(d3.axisLeft(yscaleinflacja))
  .style("font-size", "13px");


  var kreska_inflacja= svginflacja.append("path")
  .datum(inflacja)
  .attr("class", "kreska")
  .attr("d", d3.line()
    .x(function (d) { return xscaleinflacja(d.miesiac) })
    .y(function (d) { return yscaleinflacja(d.wartosc) })
  )






  
  d3.select("#kapital").text(zloty(fin_data['kapital']))
  d3.select("#okresy").text(fin_data['okresy'])
  d3.select("#marza").text(fin_data['marza'])
  d3.select("#data_start").text(fin_data['data_start'])

    d3.select("#suma_rat").text(zloty(suma_rat))
    d3.select("#suma_nadplat").text(zloty(suma_nadplat))
    d3.select("#suma_cala").text(zloty(suma_rat+suma_nadplat))



    var parseDateWykres = d3.timeParse("%Y-%m-%d");


var dane_wykres = dane1['raty']
dane_wykres.forEach(function (d) {
  d.dzien = parseDateWykres(d.dzien)
  d.K_po = parseFloat(d.K_po)
  d.rata = parseFloat(d.rata)
});


var svg_kapital = d3.select("#wykres_kapital")
  .append("svg")
  .attr("class", "svg-holder")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
  .attr("style", "border:1px solid black;")
  .style('background', "white")
  .append("g")
  .attr("transform",
    "translate(" + margin.left + "," + margin.top + ")");


var xscale = d3.scaleTime()
  .domain(d3.extent(dane_wykres, d => d.dzien))
  .range([0, width]);




var xAxis = svg_kapital.append("g")
  .attr("class", "xAxis")
  .attr("transform", "translate(0," + height + ")")

xAxis.call(d3.axisBottom(xscale).tickFormat(d3.timeFormat('%Y-%m-%d')))
  .selectAll("text")
  .attr("transform", "translate(-10,0)rotate(-45)")
  .style("text-anchor", "end")
  .style("font-size", "13px");



var grids_kapital = svg_kapital.append('g')
  .selectAll('line')
  .data(xscale.ticks())
  .enter().append('line')
  .attr('class', 'gridline')
  .attr('x1', d => xscale(d))
  .attr('x2', d => xscale(d))
  .attr('y1', 0)
  .attr('y2', height)
  .attr('stroke', 'black')



var maxYvalue = d3.max(dane_wykres, function (d) { return d.K_po });
var minYvalue = d3.min(dane_wykres, function (d) { return d.K_po });



var yscale_kapital = d3.scaleLinear()
  .domain([minYvalue, maxYvalue])
  .range([height, 0]);




var formatMoney = function (d) { return d3.format(".0f")(d) + " zł"; }


svg_kapital.append("g")
  .attr("class", "yAxis")
  .call(d3.axisLeft(yscale_kapital).tickFormat(formatMoney))
  .style("font-size", "13px");



  var kreska_kapital = svg_kapital.append("path")
  .datum(dane_wykres)
  .attr("class", "kreska")
  .attr("d", d3.line()
    .x(function (d) { return xscale(d.dzien) })
    .y(function (d) { return yscale_kapital(d.K_po) })
  )



  real_wartosci.sort(function(x, y){
   return d3.ascending(x.miesiac, y.miesiac);
})

var cumsum = 0;
  
  real_wartosci.forEach(function (d) {
  d.miesiac = parseDate(d.miesiac)
  d.wartosc = parseFloat(d.wartosc)
  cumsum = cumsum + d.wartosc;
  d.cumsum = cumsum;
  
});
console.log(real_wartosci);



create_graph(margin, width, height, real_wartosci, real_wartosc_nieruchomosc, parseDate);

</script>

</html>