<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{url_for('static', filename='d3.js')}}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <title>Kredyty</title>


</head>

<body>

  <section class="hero is-small is-primary level">
    <div class="level-left">
      <div class="hero-body">

        <p class="title">
          Kredyty hipoteczne
        </p>
        <p class="subtitle">
          Lista wszystkich kredytów
        </p>

      </div>
    </div>

    </div>
  </section>


  <div class="content">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert">{{ message }}</div>
    {% else %}
    <div class="notification is-success">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %} {% endblock %}
  </div>


  <section class="section">
    <form id="upload-form" action="{{ url_for('dom.kredyt') }}" method="POST">

      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <label class="label">Wartość</label>
            <div class="control">
              <input class="input" type="text" placeholder="Ile?" name="kapital" id="idKapital">
            </div>
          </div>

          <div class="field">
            <label class="label">Data uruchomienia</label>
            <div class="control">
              <input class="input" type="text" placeholder="DD/MM/YYYY" name="dataStart" id="idData">
            </div>
          </div>

          <div class="field">
            <label class="label">Data podpisania umowy</label>
            <div class="control">
              <input class="input" type="text" placeholder="DD/MM/YYYY" name="dataUmowa" id="idUmowa">
            </div>
          </div>

        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <label class="label">Liczba rat miesięcznych</label>
            <div class="control">
              <input class="input" type="text" placeholder="okresy" name="okresy" id="idOkresy">
            </div>
          </div>

          <div class="field">
            <label class="label">Marża</label>
            <div class="control">
              <input class="input" type="text" placeholder="marża" name="marza" id="idMarza">
            </div>
          </div>


        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-body">

          <div class="field is-narrow">
            <label class="label">Rodzaj wiboru</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select id="idRodzajWiboru" name="rodzajWiboru">
                  <option value="3M" selected>Wibor 3M</option>
                  <option value="6M">Wibor 6M</option>
                </select>
              </div>
            </div>
          </div>

          <div class="field is-narrow">
            <label class="label">Rodzaj rat</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select id="idRodzajRat" name="rodzajRat">
                  <option value="stale" selected>stałe</option>
                  <option value="malejace">malejące</option>
                </select>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary" id="idGuzik">
            Dodaj
          </button>
        </div>
      </div>





    </form>
  </section>

  <section class="section">

    <h1>Nadpłaty</h1>
  </section>
  {% if edycja %}
  <script type="module">

    const dane = JSON.parse('{{dane|safe}}');

    document.getElementById("idKapital").value = dane['wartosc'];

    const date = d3.timeParse("%Y-%m-%d")(dane['data_uruchomienia'])


    let datestring = ("0" + date.getDate()).slice(-2) + "/" + ("0" + (date.getMonth() + 1)).slice(-2) + "/" + date.getFullYear();


    document.getElementById("idData").value = datestring;
    document.getElementById("idUmowa").value = '';
    document.getElementById("idOkresy").value = dane['okresy'];
    document.getElementById("idMarza").value = dane['marza'];
    document.getElementById("idRodzajWiboru").value = dane['rodzaj_wiboru'];
    document.getElementById("idRodzajRat").value = dane['rodzaj_rat'];

    document.getElementById("idGuzik").firstChild.data = 'Edytuj';

    var form = document.getElementById('upload-form');
    var input = document.createElement("input");
    input.setAttribute("type", "hidden");
    input.setAttribute("name", "id");
    input.setAttribute("value", dane['id']);
    form.appendChild(input);

    console.log(dane['wartosc']);

  </script>
  {% endif %}

</body>

</html>