<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="{{url_for('static', filename='d3.js')}}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
  <title>Symulacja Kredytu</title>
</head>

<body>
  <div class="container">
    <div class="row top-buffer">
      <div class="col" id="dane">
        <ul class="list-group list-group-flush">
          <li>Kapitał pożyczony: <div style="float: right" id="kapital"></div>
          </li>
          <li>Marża:<div style="float: right" id="marza"></div>
          </li>
          <li>Okresy:<div style="float: right" id="okresy"></div>
          </li>
          <li>Data uruchomienia:<div style="float: right" id="data_start"></div>
          </li>
          <li>Suma rat:<div style="float: right" id="suma_rat"></div>
          </li>
          <li>Suma nadpłat:<div style="float: right" id="suma_nadplat"></div>
          </li>
          <li>Zapłacono do banku:<div style="float: right" id="suma_cala"></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col" id="ryswibor">Rys. Wibor 3M. Połączona część rzeczywista z prognozą.</div>
    </div>
    <div class="row top-buffer">
      <div class="col" id="rysInflacja">Rys.Inflacja M/M. Połączona część rzeczywista z prognozą.</div>
    </div>
    <div class="row top-buffer">
      <div class="col" id="rysNadplaty">Rys.Nadpłaty - wartości nominalne.</div>
    </div>
    <div class="row top-buffer">
      <div class="col" id="wykres_kapital">Rys. Kapitał do spłaty (dług) oraz cena kosztowa.</div>
    </div>
    <div class="row top-buffer">
      <div class="col" id="wykres_real">Rys. Wartości nominalne i realne rat, kosztów skumulowanych, i wartości nieruchomości.</div>
    </div>
    <div class="row top-buffer">
    </div>
  </div>
  

</body>

<script type="module">
  import { create_chart_koszty } from "{{url_for('static', filename='chart_koszty.js')}}";
  import { create_chart_kapital } from "{{url_for('static', filename='chart_kapital.js')}}";
  import { create_chart_wibor } from "{{url_for('static', filename='chart_wibor.js')}}";
  import { create_chart_inflacja } from "{{url_for('static', filename='chart_inflacja.js')}}";
  import { create_chart_nadplaty } from "{{url_for('static', filename='chart_nadplaty.js')}}";

  var dane1 = JSON.parse('{{wynik|safe}}');
  var inflacja = JSON.parse('{{inflacja|safe}}');
  var real_koszty = JSON.parse('{{real_koszty|safe}}');
  var nom_koszty = JSON.parse('{{nom_koszty|safe}}');
  var real_raty = JSON.parse('{{real_raty|safe}}');
  var nom_raty = JSON.parse('{{nom_raty|safe}}');
  var nom_kpo = JSON.parse('{{nom_kpo|safe}}');
  var real_kpo = JSON.parse('{{real_kpo|safe}}');
  var real_wartosc_nieruchomosc = JSON.parse('{{real_wartosc_nieruchomosc|safe}}');
  var nom_wartosc_nieruchomosc = JSON.parse('{{nom_wartosc_nieruchomosc|safe}}');
  var wibor = JSON.parse('{{wibor|safe}}');
  var fin_data = JSON.parse('{{fin_data|safe}}');



  console.log(dane1)


  var zloty = function (d) { return d3.format(",.2f")(d) + " zł"; }

  var suma_rat = d3.sum(dane1['raty'], d => d.rata)
  var suma_nadplat = d3.sum(dane1['nadplaty'], d => d.kwota)
  var suma_kapitalow = d3.sum(dane1['raty'], d => d.kapital)


  d3.select("#kapital").text(zloty(fin_data['kapital']))
  d3.select("#okresy").text(fin_data['okresy'])
  d3.select("#marza").text(fin_data['marza'])
  d3.select("#data_start").text(fin_data['data_start'])
  d3.select("#suma_rat").text(zloty(suma_rat))
  d3.select("#suma_nadplat").text(zloty(suma_nadplat))
  d3.select("#suma_cala").text(zloty(suma_rat + suma_nadplat))





  var width_docs = document.getElementById('ryswibor').clientWidth;

  var margin = { top: 60, right: 30, bottom: 70, left: 80 },
    width = width_docs - margin.left - margin.right,
    height = 450 - margin.top - margin.bottom;

    
  var parseDateWykres = d3.timeParse("%Y-%m-%d");
  var parseDateRealKPO = d3.timeParse("%Y-%m");


  var dane_wykres = dane1['raty']
  dane_wykres.forEach(function (d) {
    d.dzien = parseDateWykres(d.dzien)
    d.K_po = parseFloat(d.K_po)
    d.rata = parseFloat(d.rata)
  });

  console.log('nom kpo'); 
  console.log(nom_kpo);

  nom_kpo.forEach(function (d) {
    d.miesiac = d.dzien;
    d.dzien = parseDateRealKPO(d.dzien);
    d.K_po = parseFloat(d.wartosc);
  });

  real_kpo.forEach(function (d) {
    d.dzien = parseDateRealKPO(d.miesiac)
    d.K_po = parseFloat(d.wartosc)
  });

  nom_koszty.sort(function (x, y) {
    return d3.ascending(x.dzien, y.dzien);
  })

  

  var parseDate = d3.timeParse("%Y-%m");
  var cumsum_nom = 0

  nom_koszty.forEach(function (d) {
    d.huj = d.dzien;
    d.miesiac = parseDate(d.dzien);
    d.wartosc = parseFloat(d.wartosc);
    cumsum_nom = cumsum_nom + d.wartosc;
    d.cumsum_nom = cumsum_nom;

  });

  console.log('nom koszty')
  console.log(nom_koszty)



  const mergedResult = {};


// Merge arr1
nom_kpo.forEach(obj => {
  
  const yearMonth = obj.miesiac; // Extract 'YYYY-MM' from the date
  
  if (!mergedResult[yearMonth]) {
    mergedResult[yearMonth] = obj.K_po;
    
  } else {
    mergedResult[yearMonth] += obj.K_po;
  }
});


// Merge arr2
nom_koszty.forEach(obj => {
  const yearMonth = obj.huj

  if (!mergedResult[yearMonth]) {
    mergedResult[yearMonth] = obj.cumsum_nom;
  } else {
    mergedResult[yearMonth] += obj.cumsum_nom;
    
  }
});








  const nom_cena_kosztowa = Object.entries(mergedResult).map(([miesiac, wartosc]) => ({ miesiac, wartosc }));
  nom_cena_kosztowa.sort(function (x, y) {
    return d3.ascending(x.miesiac, y.miesiac);
  })



  nom_cena_kosztowa.forEach(function (d) {
    
    d.miesiac = parseDate(d.miesiac)
    d.wartosc = parseFloat(d.wartosc)


  });



  var parseDate = d3.timeParse("%Y-%m");



  real_koszty.sort(function (x, y) {
  return d3.ascending(x.miesiac, y.miesiac);
})

var cumsum = 0;

real_koszty.forEach(function (d) {
  d.huj = d.miesiac;
  d.miesiac = parseDate(d.miesiac);
  d.wartosc = parseFloat(d.wartosc);
  cumsum = cumsum + d.wartosc;
  d.cumsum = cumsum;

});
  



const mergedResultReal = {};


// Merge arr1
real_koszty.forEach(obj => {
  
  const yearMonth = obj.huj; // Extract 'YYYY-MM' from the date

  if (!mergedResultReal[yearMonth]) {
    mergedResultReal[yearMonth] = obj.cumsum;
    
  } else {
    mergedResultReal[yearMonth] += obj.cumsum;
  }
});




// Merge arr2
real_kpo.forEach(obj => {
  const yearMonth = obj.miesiac

  if (!mergedResultReal[yearMonth]) {
    mergedResultReal[yearMonth] = obj.K_po;
  } else {
    mergedResultReal[yearMonth] += obj.K_po;
    
  }
});



const real_cena_kosztowa = Object.entries(mergedResultReal).map(([miesiac, wartosc]) => ({ miesiac, wartosc }));

real_cena_kosztowa.sort(function (x, y) {
    return d3.ascending(x.miesiac, y.miesiac);
  })

  real_cena_kosztowa.forEach(function (d) {
    
    d.miesiac = parseDate(d.miesiac)
    d.wartosc = parseFloat(d.wartosc)


  });





  create_chart_wibor(margin, width, height, wibor);
  create_chart_inflacja(margin, width, height, inflacja);
  create_chart_nadplaty(margin, width, height, dane1['nadplaty']);
  create_chart_kapital(margin, width, height, nom_kpo, nom_cena_kosztowa, real_kpo, real_cena_kosztowa);
  create_chart_koszty(margin, width, 700, real_koszty, nom_koszty, real_raty, nom_raty, real_wartosc_nieruchomosc, nom_wartosc_nieruchomosc);

</script>

</html>