<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{url_for('static', filename='d3.js')}}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <title>Kredyty</title>
  
  </style>
</head>




<body>

    <div class="container" id="takietam">

 
    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        {% block content %} {% endblock %}
    </div>

          <h1 class="title">
            Kredyty
          </h1>


 
      

    </div>

<script type="module">

const kredyty = JSON.parse('{{kredyty|safe}}');
console.log(kredyty);

let kurde = d3.select("#takietam").selectAll('div.kredyty').data(kredyty)
.enter()
.append('div')
.attr('class', "kredyty columns mt-0")
.attr('style', "border:1px solid black;")

kurde.append('div').attr('class', 'column').html(d=>d.wartosc)
kurde.append('div').attr('class', 'column').html(d=>d.data_uruchomienia)
let button = kurde.append('div').attr('class', 'column is-2').append('button')
.attr('class', 'button is-primary is-pulled-right')
.attr('id',d=>'kredyt-'+d.id).text(d=>'wybierz'+d.id)

button.on('click', function (d) {
        d3.event.stopPropagation();
        var data = { name: "John", age: 30 };
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', "{{ url_for('dom.mojkredyt') }}");
        form.style.display = 'hidden';
        var input = document.createElement("input");
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "kapital");
        input.setAttribute("value", d.wartosc);
        form.appendChild(input);
        document.body.appendChild(form)
        form.submit();
      });
    
</script>

</body>

</html>