<!doctype html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="{{url_for('static', filename='d3.js')}}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<title>Kredyty</title>

<style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    #wrapper {
        flex: 1;
    }


    .filler {
        position: absolute;
        left: 0;
        right: 0;
        border-bottom: 1px dashed #333;
        height: 50%;
    }

    .naklejka {
        background: white;
        float: left;
        margin-right: 20px;
        padding-right: 4px;
        position: relative;
    }

    .tekst {
        background: white;
        padding-left: 4px;
        position: relative;
    }



    .kontainer {
        position: relative;
        text-align: right;
        white-space: nowrap;
    }
</style>



<nav class="navbar is-info" role="navigation" aria-label="main navigation" id="nav-bar">
    <div class="navbar-brand">
        <p class="navbar-item">
            <img src="{{ url_for('static', filename='logo.png')}}" width="40" height="40">
        </p>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>



    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

            <p class="navbar-item">
                Kalkulator RRSO
            </p>



        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if current_user.is_authenticated %}
                    <a class="button is-light" href="{{ url_for('admin_bp.logout') }}">
                        {{current_user.name}} - Wyloguj
                    </a>
                    {%- else %}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>


<script>

    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach(el => {
            el.addEventListener('click', () => {

                // Get the target from the "data-target" attribute
                const target = el.dataset.target;
                const $target = document.getElementById(target);

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                el.classList.toggle('is-active');
                $target.classList.toggle('is-active');

            });
        });

    });
</script>

<div id="wrapper">
    <section class="content">



        <div class="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
            <div class="alert">{{ message }}</div>
            {% else %}
            <div class="notification is-success">{{ message }}</div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}

        </div>




        <div class="block">
            <div class="container">

                <form id="kredyt-form" action="{{ url_for('rrso.rrso_main') }}" method="POST">

                    <div class="field is-horizontal">
                        <div class="field-body">

                            <div class="field is-narrow">
                                <label class="label">Data umowy</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="DD/MM/YYYY" name="data_umowy">
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-body">

                            <div class="field is-narrow">
                                <label class="label">Całkowita kwota kredytu (PLN)</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Kredyt (PLN)" name="calkowita_kwota">
                                </div>
                            </div>

                            <div class="field is-narrow">
                                <label class="label">Kwota udzielonego kredytu (PLN)</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Kredyt + prowizja (PLN)" name="udzielona_kwota">
                                </div>
                            </div>



                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field is-narrow">
                                <label class="label">Liczba rat miesięcznych</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="okresy" name="okresy">
                                </div>
                            </div>

                            <div class="field is-narrow">
                                <label class="label">Rodzaj rat</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select name="rodzaj_rat">
                                            <option value="stale" selected>stałe</option>
                                            <option value="malejace">malejące</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

   

                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-body">

                            <div class="field is-narrow">
                                <label class="label">Oprocentowanie pożyczki</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select name="oprocentowanie_pozyczki">
                                            <option value="stale" selected>stałe</option>
                                            <option value="zmienne">zmienne</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-narrow">
                                <label class="label">Wysokość oprocentowania stałego (%)</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="stopa opr. stałego %" name="oprocentowanie_stale">
                                </div>
                            </div>

                            <div class="field is-narrow">
                                <label class="label">Rodzaj wiboru</label>
                                <div class="control">
                                    <div class="select is-fullwidth">
                                        <select  name="rodzajWiboru" disabled>
                                            <option value="3M" selected>Wibor 3M</option>
                                            <option value="6M">Wibor 6M</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">

                    <div class="field is-narrow">
                        <label class="label">Marża (%)</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="marża (%)" name="marza">
                        </div>
                    </div>

                    <div class="field is-narrow">
                        <label class="label">Prowizja (%)</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="prowizja (%)" name="prowizja">
                        </div>
                    </div>

                </div>
            </div>
                    <div class="field is-horizontal">
                        <div class="field-body">


                            <div class="field is-narrow">
                                <label class="label">Pozaodsetkowe koszty kredytu (PLN)</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Ile? (PLN)" name="pozaodsetkowe_koszty">
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="field is-narrow">
                        <div class="control">
                            <button type="submit" class="button is-primary" id="idGuzik">
                                Oblicz
                            </button>
                        </div>
                    </div>





                </form>

            </div>
        </div>

        <script type="module">
            console.log('by name')
            console.log(document.getElementsByName("oprocentowanie_pozyczki")[0].value)

            document.getElementsByName("oprocentowanie_pozyczki")[0].addEventListener("change",
                function(){

                    if (this.value == 'zmienne') {
                        document.getElementsByName("oprocentowanie_stale")[0].disabled = true;
                        document.getElementsByName("rodzajWiboru")[0].disabled = false;
      
                    } else {
                        document.getElementsByName("oprocentowanie_stale")[0].disabled = false;
                        document.getElementsByName("rodzajWiboru")[0].disabled = true;
            
                    }
                    console.log(this.value)

                });

            // read request object as json string

            const dane = {{request.form | tojson | safe}};


            // check if dane is not empty dict
            

            if (Object.keys(dane).length > 0) {

                if (dane['oprocentowanie_pozyczki']== 'zmienne') {
                        document.getElementsByName("oprocentowanie_stale")[0].disabled = true;
                        document.getElementsByName("rodzajWiboru")[0].disabled = false;
      
                    } else {
                        document.getElementsByName("oprocentowanie_stale")[0].disabled = false;
                        document.getElementsByName("rodzajWiboru")[0].disabled = true;
            
                    }
            

            document.getElementsByName("data_umowy")[0].value = dane['data_umowy'];
            
            document.getElementsByName("calkowita_kwota")[0].value = dane['calkowita_kwota'];
            document.getElementsByName("udzielona_kwota")[0].value = dane['udzielona_kwota'];

            document.getElementsByName("okresy")[0].value = dane['okresy'];
            document.getElementsByName("rodzaj_rat")[0].value = dane['rodzaj_rat'];

            document.getElementsByName("oprocentowanie_pozyczki")[0].value = dane['oprocentowanie_pozyczki'];
            
            if ('oprocentowanie_stale' in dane) {
                document.getElementsByName("oprocentowanie_stale")[0].value = dane['oprocentowanie_stale'];
            } else {
                document.getElementsByName("oprocentowanie_stale")[0].value = ''
            }

            if ('rodzajWiboru' in dane) {
                document.getElementsByName("rodzajWiboru")[0].value = dane['rodzajWiboru'];
            } else {

                document.getElementsByName("rodzajWiboru")[0].value = '3M';
            }
            
     

            document.getElementsByName("marza")[0].value = dane['marza'];
            document.getElementsByName("prowizja")[0].value = dane['prowizja'];
            document.getElementsByName("pozaodsetkowe_koszty")[0].value = dane['pozaodsetkowe_koszty'];
            

            }


        </script>


    </section>



</div>
<footer class="footer">
    <div class="content has-text-centered">

        Kalkulator RRSO 2023

    </div>
</footer>