{% extends "template.html" %}
{% block content %}


<style>
  .box {
  display: inline-block;
  }

  table {
    background-color: white;
  }

  td.lol {

    background-color: #bde9ba;
  }
  .text-tytul {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  tr {

    font-family: Arial, Helvetica, sans-serif;
  }
  tr.przeszlosc {
  background-color: lightblue;

  }
  tr.przyszlosc {
  background-color: lightgray;

  }

  tr.start {
  background-color: yellow;

  }

  tr.najblizsza {
  background-color: orange;

  }
  path.red {
    fill: none;
    stroke-width: 2px;
    stroke: red;
  }

  path.red-dot {
    fill: none;
    stroke-width: 1px;
    stroke: red;
    border-style: dotted;
    stroke-dasharray: 5;
  }

  path.black-dot {
    fill: none;
    stroke-width: 1px;
    stroke: black;
    border-style: dotted;
    stroke-dasharray: 5;
  }

  .divelement {
    display: inline-block;


  }

</style>

<div id="chart" class="divelement">
</div>


<div id="chart_realne_koszty" class="divelement">
</div>

<div id="chart_portfel" class="divelement">
</div>


<script type="text/javascript">

  let stopy_dane = {{ wykres_stopy|tojson }};
 var inflacja_dane = {{inflacja_dane|tojson}};

  var parseDate = d3.timeParse("%d/%m/%Y");
  var parseDateInfl = d3.timeParse("%m/%Y");

  stopy_dane.forEach(function(d) {
         d.day = parseDate(d.day)
         d.value = parseFloat(d.value)

     });

     inflacja_dane.forEach(function(d) {
            d.day = parseDateInfl(d.day)
            d.value = parseFloat(d.value)

        });

       console.log(stopy_dane)

     var margin = {top: 60, right: 30, bottom: 70, left: 60},
         width = 700 - margin.left - margin.right,
         height = 450 - margin.top - margin.bottom;


         // append the svg object to the body of the page
         var svg = d3.select("#chart")
           .append("svg")
             .attr("class", "svg-holder")
             .attr("width", width + margin.left + margin.right)
             .attr("height", height + margin.top + margin.bottom)
             .attr("style", "border:1px solid black;")
             .style('background', "white")
           .append("g")
             .attr("transform",
                   "translate(" + margin.left + "," + margin.top + ")");

     var xscale = d3.scaleTime()
         .domain(d3.extent(stopy_dane, d=>d.day))
         .range([0, width]);




      svg.append("g")
        .attr("class", "xAxis")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(xscale).tickFormat(d3.timeFormat('%Y-%m-%d')))
        .selectAll("text")
          .attr("transform", "translate(-10,0)rotate(-45)")
          .style("text-anchor", "end")
          .style("font-size","13px");


      d3.selectAll("g.xAxis g.tick")
          .append("line")
          .attr("class", "gridline")
          .attr("x1", 0)
          .attr("y1", -height)
          .attr("x2", 0)
          .attr("y2", 0);



      var maxYvalue = d3.max(stopy_dane, function(d) { return d.value });
      var minYvalue = d3.min(stopy_dane, function(d) { return d.value });
      // Add Y axis

      var yscale = d3.scaleLinear()
        .domain([0, maxYvalue])
        .range([ height, 0]);

        formatPerc = function(d) { return  d3.format(".2f")(100*d) + " %"; }

      svg.append("g")
        .attr("class", "yAxis")
        .call(d3.axisLeft(yscale).tickFormat(formatPerc))
         .style("font-size","13px");

       d3.selectAll("g.yAxis g.tick")
           .append("line")
           .attr("class", "gridline")
           .attr("x1", 0)
           .attr("y1", 0)
           .attr("x2", width)
           .attr("y2", 0);



           var mybars = svg.selectAll(".mybar").data(stopy_dane)

               mybars
               .enter()
               .append("rect")
                 .attr("x", function(d) { return xscale(d.day); })
                 .attr("y", function(d) { return  yscale(d.value); })
                 .attr("width", 1)
                 .attr("height", function(d) { return height-yscale(d.value); })
                 .attr("class", "mybar");



                 svg.append("path")
                       .datum(inflacja_dane)
                       .attr("fill", "none")
                       .attr("d", d3.line()
                         .x(function(d) { return xscale(d.day) })
                         .y(function(d) { return yscale(d.value) })
                         )
                         .attr("class", "red")


                 svg.append("text")
                   .attr("class", "text-tytul")
                 .attr("x", -50)
                 .attr("y", -20)
                 .text("stopa procentowa (marża + wibor3m + ubezp.) oraz inflacja m/m")

</script>



<script type="text/javascript">

      console.log("-- realne koszty ---")

      var dane = {{results|tojson}};
      var dane2 = {{results2|tojson}};


      var parseDate = d3.timeParse("%d/%m/%Y");
      console.log(dane)

      dane.forEach(function(d) {
             d.data = parseDate(d.data)
             d.suma_kosztow = parseFloat(d.suma_kosztow)
             d.narastajaco_suma_kosztow = parseFloat(d.narastajaco_suma_kosztow)

         });

         dane2.forEach(function(d) {
                d.data = parseDate(d.data)
                d.suma_kosztow = parseFloat(d.suma_kosztow)
                d.narastajaco_suma_kosztow = parseFloat(d.narastajaco_suma_kosztow)

            });


     var margin = {top: 60, right: 100, bottom: 70, left: 60},
         width = 700 - margin.left - margin.right,
         height = 450 - margin.top - margin.bottom;


         // append the svg object to the body of the page
         var svg = d3.select("#chart_realne_koszty")
           .append("svg")
             .attr("class", "svg-holder")
             .attr("width", width + margin.left + margin.right)
             .attr("height", height + margin.top + margin.bottom)
             .attr("style", "border:1px solid black;")
             .style('background', "white")
           .append("g")
             .attr("transform",
                   "translate(" + margin.left + "," + margin.top + ")");

     var xscale = d3.scaleTime()
         .domain(d3.extent(dane, d=>d.data))
         .range([0, width]);




      svg.append("g")
        .attr("class", "xAxis")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(xscale).tickFormat(d3.timeFormat('%Y-%m-%d')))
        .selectAll("text")
          .attr("transform", "translate(-10,0)rotate(-45)")
          .style("text-anchor", "end")
          .style("font-size","13px");


      d3.selectAll("g.xAxis g.tick")
          .append("line")
          .attr("class", "gridline")
          .attr("x1", 0)
          .attr("y1", -height)
          .attr("x2", 0)
          .attr("y2", 0);



      var maxYvalue = d3.max([dane,dane2].flat(), function(d) { return d.suma_kosztow });
      var minYvalue = d3.min([dane,dane2].flat(), function(d) { return d.suma_kosztow });


      var maxYvalueNar = d3.max(dane, function(d) { return d.narastajaco_suma_kosztow });
      var minYvalueNar = d3.min(dane, function(d) { return d.narastajaco_suma_kosztow });


      // Add Y axis

      var yscale = d3.scaleLinear()
        .domain([minYvalue  , maxYvalue])
        .range([ height, 0]);


        var yscaleNar = d3.scaleLinear()
          .domain([minYvalueNar  , maxYvalueNar])
          .range([ height, 0]);




      formatMoney = function(d) { return  d3.format(".0f")(d) + " zł"; }
      formatMoney2 = function(d) { return  d3.format(",.0f")(d) + " zł"; }

      svg.append("g")
        .attr("class", "yAxis")
        .call(d3.axisLeft(yscale).tickFormat(formatMoney))
         .style("font-size","13px");


         svg.append("g")
           .attr("class", "yAxis")
           .call(d3.axisRight(yscaleNar).tickFormat(formatMoney2))
           .attr("transform", "translate("+ width + ",0)")
            .style("font-size","13px");

       d3.selectAll("g.yAxis g.tick")
           .append("line")
           .attr("class", "gridline")
           .attr("x1", 0)
           .attr("y1", 0)
           .attr("x2", width)
           .attr("y2", 0);



       svg.append("path")
             .datum(dane)
             .attr("d", d3.line()
               .x(function(d) { return xscale(d.data) })
               .y(function(d) { return yscale(d.suma_kosztow) })
               )

               svg.append("path")
                     .datum(dane)
                     .attr("class", "black-dot")
                     .attr("d", d3.line()
                       .x(function(d) { return xscale(d.data) })
                       .y(function(d) { return yscale(d.real_suma_kosztow) })
                       )

       svg.append("path")
             .datum(dane2)
             .attr("class", "red")
             .attr("d", d3.line()
               .x(function(d) { return xscale(d.data) })
               .y(function(d) { return yscale(d.suma_kosztow) })
                       )


              svg.append("path")
                       .datum(dane2)
                       .attr("class", "red-dot")
                       .attr("d", d3.line()
                         .x(function(d) { return xscale(d.data) })
                         .y(function(d) { return yscale(d.real_suma_kosztow) })
                       )

       svg.append("path")
             .datum(dane)
             .attr("d", d3.line()
               .x(function(d) { return xscale(d.data) })
               .y(function(d) { return yscaleNar(d.narastajaco_suma_kosztow) })
               )

               svg.append("path")
                     .datum(dane2)
                     .attr("class", "red")
                     .attr("d", d3.line()
                       .x(function(d) { return xscale(d.data) })
                       .y(function(d) { return yscaleNar(d.narastajaco_suma_kosztow) })
                       )



                       svg.append("path")
                             .datum(dane)
                             .attr("class", "black-dot")
                             .attr("d", d3.line()
                               .x(function(d) { return xscale(d.data) })
                               .y(function(d) { return yscaleNar(d.real_narastajaco_suma_kosztow) })
                               )

                               svg.append("path")
                                     .datum(dane2)
                                     .attr("class", "red-dot")
                                     .attr("d", d3.line()
                                       .x(function(d) { return xscale(d.data) })
                                       .y(function(d) { return yscaleNar(d.real_narastajaco_suma_kosztow) })
                                       )

        svg.append("text")
            .attr("class", "text-tytul")
            .attr("x", -50)
            .attr("y", -20)
            .text("miesięczne nominalne koszty kredytu (raty + nadpłaty + opłaty)")


</script>


<script type="text/javascript">

      var dane = {{portfele|tojson}};


      console.log(dane)


      var parseDate = d3.timeParse("%m/%Y");

      dane.forEach(function(d) {
             d.month = parseDate(d.month)
             d.value = parseFloat(d.value)

         });


           console.log(dane)

     var margin = {top: 60, right: 30, bottom: 70, left: 100},
         width = 700 - margin.left - margin.right,
         height = 450 - margin.top - margin.bottom;


         // append the svg object to the body of the page
         var svg = d3.select("#chart_portfel")
           .append("svg")
             .attr("class", "svg-holder")
             .attr("width", width + margin.left + margin.right)
             .attr("height", height + margin.top + margin.bottom)
             .attr("style", "border:1px solid black;")
             .style('background', "white")
           .append("g")
             .attr("transform",
                   "translate(" + margin.left + "," + margin.top + ")");

     var xscale = d3.scaleTime()
         .domain(d3.extent(dane, d=>d.month))
         .range([0, width]);




      svg.append("g")
        .attr("class", "xAxis")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(xscale).tickFormat(d3.timeFormat('%Y-%m')))
        .selectAll("text")
          .attr("transform", "translate(-10,0)rotate(-45)")
          .style("text-anchor", "end")
          .style("font-size","13px");


      d3.selectAll("g.xAxis g.tick")
          .append("line")
          .attr("class", "gridline")
          .attr("x1", 0)
          .attr("y1", -height)
          .attr("x2", 0)
          .attr("y2", 0);



      var maxYvalue1 = d3.max(dane, function(d) { return d.p1_saldo_norm });
      var maxYvalue2 = d3.max(dane, function(d) { return d.p2_saldo_norm });
      var maxYvalue = d3.max([maxYvalue1,maxYvalue2])
      var minYvalue = d3.min(dane, function(d) { return d.p1_saldo_norm });
      // Add Y axis

      var yscale = d3.scaleLinear()
        .domain([minYvalue -0.1  , maxYvalue +0.1])
        .range([ height, 0]);


        formatMoney = function(d) { return  d3.format(",.0f")(d) + " zł"; }

      svg.append("g")
        .attr("class", "yAxis")
        .call(d3.axisLeft(yscale).tickFormat(formatMoney))
         .style("font-size","13px");

       d3.selectAll("g.yAxis g.tick")
           .append("line")
           .attr("class", "gridline")
           .attr("x1", 0)
           .attr("y1", 0)
           .attr("x2", width)
           .attr("y2", 0);



       svg.append("path")
             .datum(dane)
             .attr("d", d3.line()
               .x(function(d) { return xscale(d.month) })
               .y(function(d) { return yscale(d.p1_saldo_norm) })
               )
               .attr("stroke", "red")
               .attr("stroke-width", 1.5)

               svg.append("path")
                     .datum(dane)
                     .attr("class", "black-dot")
                     .attr("d", d3.line()
                       .x(function(d) { return xscale(d.month) })
                       .y(function(d) { return yscale(d.p1_saldo_real) })
                       )



                       svg.append("path")
                             .datum(dane)
                             .attr("class", "red")
                             .attr("d", d3.line()
                               .x(function(d) { return xscale(d.month) })
                               .y(function(d) { return yscale(d.p2_saldo_norm) })
                               )


                               svg.append("path")
                                     .datum(dane)
                                     .attr("class", "red-dot")
                                     .attr("d", d3.line()
                                       .x(function(d) { return xscale(d.month) })
                                       .y(function(d) { return yscale(d.p2_saldo_real) })
                                       )


        svg.append("text")
            .attr("class", "text-tytul")
            .attr("x", -50)
            .attr("y", -20)
            .text("portfel")


            svg.append("line")
           .attr("x1", 0)
           .attr("y1", yscale(0))
           .attr("x2", width)
           .attr("y2", yscale(0))
           .attr("stroke", "black")
           .attr("stroke-width", 1)
           .attr("stroke-dasharray", 4)


</script>

<h2>Harmonogram spłaty</h2>
<h2>Suma wszystkich kosztów: {{suma_kosztow}}</h2>


<script type="text/javascript">

    dane = {{results|tojson}};

    console.log(dane)

    var table = d3.select(".container").append("table"),
    thead = table.append("thead").append("tr"),
    tbody = table.append("tbody");

    thead.append("td").text("nr")
    thead.append("td").text("data")
    thead.append("td").text("saldo start")
    thead.append("td").text("odsetki")
    thead.append("td").text("rata")
    thead.append("td").text("kapitał spłata")

    thead.append("td").text("nadpłaty")
    thead.append("td").text("inne opłaty")
    thead.append("td").text("saldo koniec")
    thead.append("td").text("suma kosztów")



    var k = 0

    let row = tbody.selectAll("tr").data(dane).enter().append("tr")
      .attr("class", function(d,i) {




      if (parseDate(d['data'])<=new Date() && d['nr'] != 0) {
        k = i;
      //  console.log(k + "przeszlosc")
        return "przeszlosc"

      }


      else if (d['nr']==0){

        return "start"

      }
      else {
        //console.log(i + "/" + k)
         if (i==k+1) {

           return "najblizsza"
         }
        return "przyszlosc"
      }


    })

    row.append("td").text(d=>d['nr'])
    row.append("td").text(d=>d['data'])
    row.append("td").text(d=>d['saldo_start'])
    row.append("td").text(d=>d['odsetki'])
    row.append("td").text(d=>d['rata'])
    row.append("td").text(d=>d['kapital_splata'])

    row.append("td").text(d=>d['nadplaty'])

    function numberWithCommas(x) {
      x = parseFloat(x).toFixed(2);
      var parts = x.toString().split(".");
      parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      return parts.join(".") + " zł";
    }

    row.append("td").text(d=>d['inne_oplaty'])
    row.append("td").text(d=>d['saldo_koniec'])

  formatMoney = function(d) { return  d3.format(".2f")(d) + " zł"; }

    row.append("td").append("b").text(d=>formatMoney(d['suma_kosztow']))






</script>

{% endblock %}
