{% extends "template.html" %}
{% block content %}

  {% if feedback %}
<p class="text-danger float-right">{{ feedback }}</p>
{% endif %}

{% if dane %}
<div id="chart">



</div>
<script type="text/javascript">
  dane = {{dane|tojson}};

  console.log(dane)



  var margin = {top: 30, right: 30, bottom: 70, left: 30},
      width_chart = 500,
      width = width_chart - margin.left - margin.right,
      height = 120- margin.top - margin.bottom;


      // append the svg object to the body of the page
      var svg = d3.select("#chart")
        .append("svg")
          .attr("class", "svg-holder")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .attr("style", "border:1px solid black;")
          .style('background', "white")
          .append("g")
            .attr("transform",
                  "translate(" + margin.left + "," + margin.top + ")");



        const xscale = d3.scaleLinear()
            .domain([0, d3.max([dane.kapital, dane.zwrot]) ])
            .range([0, width]);

        svg.append("rect")
            .attr("x", 0)
            .attr("y", 0)
            .attr("width", xscale(dane.kapital))
            .attr("height", 20)
            .attr("fill", 'red');

            svg.append("rect")
                .attr("x", 0)
                .attr("y", 40)
                .attr("width", xscale(dane.zwrot))
                .attr("height", 20)
                .attr("fill", 'blue');


                d3.select("#chart")
                          .append("p")
                          .text("Rata równa " + dane.rata)

          d3.select("#chart")
                    .append("p")
                    .text("Oprocentowanie " + dane.oprocentowanie)


                    d3.select("#chart")
                              .append("p")
                              .text("Liczba rat " + dane.liczba_rat)


            d3.select("#chart")
                      .append("p")
                      .text("Pożyczyłeś " + dane.kapital)





            d3.select("#chart")
                      .append("p")
                      .text("Oddasz " + dane.zwrot)


            d3.select("#chart")
                .append("p")
                .text("Proporcja " + ((dane.zwrot/dane.kapital)*100).toFixed(2) + "%")




      // (dane.zwrot/dane.kapital)*100) )

</script>

{% endif %}



{% if dane_splaty %}

<div id="odsetki">

  </div>

<script type="text/javascript">
  dane_splaty = {{dane_splaty|tojson}}
  console.log(dane_splaty)

  var margin = {top: 30, right: 30, bottom: 40, left: 50},
      width_chart = 500,
      width = width_chart - margin.left - margin.right,
      height = 320- margin.top - margin.bottom;


      // append the svg object to the body of the page
      var svg = d3.select("#odsetki")
        .append("svg")
          .attr("class", "svg-holder")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .attr("style", "border:1px solid black;")
          .style('background', "white")
          .append("g")
            .attr("transform",
                  "translate(" + margin.left + "," + margin.top + ")");

    var xscale2 = d3.scaleLinear()
        .domain([0, d3.max(dane_splaty, function(d){ return d.okres})])
        .range([0, width]);

    var yscale2 = d3.scaleLinear()
        .domain([0, dane_splaty[0]['rata'] ])
        .range([height,0]);


      var  line_odsetki = d3.line()
      .x(d => xscale2(d.okres))
      .y(d => yscale2(d.odsetki))

      var  line_kapital = d3.line()
      .x(d => xscale2(d.okres))
      .y(d => yscale2(d.k_splata))


      var  line_rata = d3.line()
      .x(d => xscale2(d.okres))
      .y(d => yscale2(d.rata))


    svg.append("path")
      .datum(dane_splaty)
      .attr('d', line_odsetki)
      .style("stroke", "blue")

      svg.append("path")
        .datum(dane_splaty)
        .attr('d', line_kapital)
        .style("stroke", "red")

        svg.append("path")
          .datum(dane_splaty)
          .attr('d', line_rata)

        var x_axis = d3.axisBottom()
                       .scale(xscale2);

        //Append group and insert axis
        svg.append("g")
            .attr("transform", "translate(0,"+ height+ ")")
           .call(x_axis);

           var y_axis = d3.axisLeft()
                             .scale(yscale2);

               svg.append("g")
                  .attr("transform", "translate(0,0)")
                  .call(y_axis);

</script>

{% endif %}




<form action="/" method="POST">

    <div class="form-group">
      <input type="text" class="form-control" id="kapital" name="kapital" placeholder="Kapitał">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" id="procent" name="procent" placeholder="Oprocentowanie roczne">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" id="liczba_rat" name="liczba_rat" placeholder="Liczba rat" value="360">
    </div>

<div>
  <button type="submit" class="btn btn-primary">Dodaj</button>
</div>


</form>

{% endblock %}
