{% extends 'base.html' %}

{% block content %}




<div class="content">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  {% if category == 'error' %}
  <div class="alert">{{ message }}</div>
  {% else %}
  <div class="notification is-success">{{ message }}</div>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% endwith %}

</div>

<div class="container">

  <form id="kredyt-form" action="{{ url_for('dom.kredyt') }}" method="POST">

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field is-narrow">
          <label class="label">Wartość</label>
          <div class="control">
            <input class="input" type="text" placeholder="Ile?" name="kapital" id="idKapital">
          </div>
        </div>

        <div class="field is-narrow">
          <label class="label">Data uruchomienia</label>
          <div class="control">
            <input class="input" type="text" placeholder="DD/MM/YYYY" name="dataStart" id="idData">
          </div>
        </div>



      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field is-narrow">
          <label class="label">Liczba rat miesięcznych</label>
          <div class="control">
            <input class="input" type="text" placeholder="okresy" name="okresy" id="idOkresy">
          </div>
        </div>

        <div class="field is-narrow">
          <label class="label">Marża</label>
          <div class="control">
            <input class="input" type="text" placeholder="marża" name="marza" id="idMarza">
          </div>
        </div>


      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-body">

        <div class="field is-narrow">
          <label class="label">Rodzaj wiboru</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select id="idRodzajWiboru" name="rodzajWiboru">
                <option value="3M" selected>Wibor 3M</option>
                <option value="6M">Wibor 6M</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field is-narrow">
          <label class="label">Rodzaj rat</label>
          <div class="control">
            <div class="select is-fullwidth">
              <select id="idRodzajRat" name="rodzajRat">
                <option value="stale" selected>stałe</option>
                <option value="malejace">malejące</option>
              </select>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary" id="idGuzik">
          Dodaj
        </button>
      </div>
    </div>





  </form>
  </section>
</div>
  {% if dane %}



<div class="container">
  <section>
    <h1>Nadpłaty</h1>

    <form id="nadplata-form" action="{{ url_for('dom.kredyt') }}" method="POST">

      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <label class="label">Wartość</label>
            <div class="control">
              <input class="input" type="text" placeholder="Ile?" name="wartosc_nadplaty" id="idNadplataWartosc">
            </div>
          </div>

          <div class="field">
            <label class="label">Data</label>
            <div class="control">
              <input class="input" type="text" placeholder="DD/MM/YYYY" name="data_nadplaty" id="idDataNadplaty">
            </div>
          </div>




        </div>

      </div>

      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary" id="idGuzik">
            Dodaj
          </button>
        </div>
      </div>

    </form>




    <table class="table">
      <thead>
        <tr>
          <th><abbr title="Position">Wartość</abbr></th>
          <th>Data</th>
          <th>Usuń</th>
        </tr>
      </thead>
      <tbody id="nadplaty">


      </tbody>
    </table>
  </section>
</div>

<div class="container">
  <section>
    <h1>Wakacje kredytowe</h1>

    <form id="wakacje-form" action="{{ url_for('dom.kredyt') }}" method="POST">

      <div class="field is-horizontal">
        <div class="field-body">


          <div class="field">
            <label class="label">Miesiąc</label>
            <div class="control">
              <input class="input" type="text" placeholder="MM/YYYY" name="miesiac_wakacji" id="idMiesiacWakacji">
            </div>
          </div>




        </div>

      </div>

      <div class="field">
        <div class="control">
          <button type="submit" class="button is-primary" id="idGuzikWakacje">
            Dodaj
          </button>
        </div>
      </div>

    </form>




    <table class="table">
      <thead>
        <tr>
   
          <th>Miesiąc</th>
          <th>Usuń</th>
        </tr>
      </thead>
      <tbody id = "wakacje">


      </tbody>
    </table>
  </section>
</div>

    {% endif %}

    {% if edycja %}
    <script type="module">

      const dane = JSON.parse('{{dane |safe}}');

      console.log(dane)

      document.getElementById("idKapital").value = dane['wartosc'];

      const date = d3.timeParse("%Y-%m-%d")(dane['data_uruchomienia'])


      let datestring = ("0" + date.getDate()).slice(-2) + "/" + ("0" + (date.getMonth() + 1)).slice(-2) + "/" + date.getFullYear();


      document.getElementById("idData").value = datestring;

      document.getElementById("idOkresy").value = dane['okresy'];
      document.getElementById("idMarza").value = dane['marza'];
      document.getElementById("idRodzajWiboru").value = dane['rodzaj_wiboru'];
      document.getElementById("idRodzajRat").value = dane['rodzaj_rat'];

      document.getElementById("idGuzik").firstChild.data = 'Edytuj';

      let form = document.getElementById('kredyt-form');
      let input = document.createElement("input");
      input.setAttribute("type", "hidden");
      input.setAttribute("name", "id");
      input.setAttribute("value", dane['id']);
      form.appendChild(input);

      console.log('edycja')

      let form2 = document.getElementById('nadplata-form');
      let input2 = document.createElement("input");
      input2.setAttribute("type", "hidden");
      input2.setAttribute("name", "id");
      input2.setAttribute("value", dane['id']);
      form2.appendChild(input2);


      let table = d3.select("tbody#nadplaty")
        .selectAll("tr").data(dane['nadplaty'])
        .enter().append("tr")


      table.append('td')
        .text(function (d) { return d.wartosc; })

      table.append('td')
        .text(function (d) { return d.data_nadplaty; })


      table.append('td')
        .html(d => "<a href='{{ url_for('dom.kredyt', kredyt_id=0, nadplata_id=99999999, usun=True) }}'>usun</a>".replace("0", dane['id']).replace('99999999', d.id))

        let form_wakacje = document.getElementById('wakacje-form');
      let input_wakacje = document.createElement("input");
      input_wakacje.setAttribute("type", "hidden");
      input_wakacje.setAttribute("name", "id");
      input_wakacje.setAttribute("value", dane['id']);
      form_wakacje.appendChild(input_wakacje);

      let form2_wakacje = document.getElementById('wakacje-form');
      let input2_wakacje = document.createElement("input");
      input2_wakacje.setAttribute("type", "hidden");
      input2_wakacje.setAttribute("name", "id");
      input2_wakacje.setAttribute("value", dane['id']);
      form2_wakacje.appendChild(input2_wakacje);


      let table_wakacje = d3.select("tbody#wakacje")
        .selectAll("tr").data(dane['wakacje'])
        .enter().append("tr")


        table_wakacje.append('td')
        .text(function (d) { return d.miesiac; })


        table_wakacje.append('td')
        .html(d => "<a href='{{ url_for('dom.usun_wakacje', kredyt_id=0, wakacje_id=99999999) }}'>usun</a>".replace("0", dane['id']).replace('99999999', d.id))




    </script>
    {% endif %}

    {% endblock %}