{% extends 'base.html' %}

{% block content %}


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'error' %}
<div class="alert">{{ message }}</div>
{% else %}
<div class="notification is-success">{{ message }}</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}



<div class="container">

  <div class="block m-4">
    <h1 class="title">Kredyt</h1>
  </div>

  <div class="block m-4">

    <div class="columns">
      <div class="column">
        <ul class="list-group list-group-flush">
          <li>
            <div class="kontainer">
              <div class="filler"></div><span class="naklejka">Kapitał pożyczony</span><span class="tekst"
                id="kapital"></span>
            </div>
          </li>
          <li>
            <div class="kontainer">
              <div class="filler"></div><span class="naklejka">Data uruchomienia</span><span class="tekst"
                id="data_start"></span>
            </div>
          </li>
          <li>
            <div class="kontainer">
              <div class="filler"></div><span class="naklejka">Marża</span><span class="tekst" id="marza"></span>
            </div>
          </li>
          <li>
            <div class="kontainer">
              <div class="filler"></div><span class="naklejka">Liczba rat</span><span class="tekst" id="okresy"></span>
            </div>
          </li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li>
            <div class="kontainer">
              <div class="filler"></div><span class="naklejka">Wskaźnik</span></span><span class="tekst"
                id="rodzaj_wiboru_id"></span>
            </div>
          </li>
          <li>
            <div class="kontainer">
              <div class="filler"></div><span class="naklejka">Suma rat</span></span><span class="tekst"
                id="suma_rat"></span>
            </div>
          </li>
          <li>
            <div class="kontainer">
              <div class="filler"></div><span class="naklejka">Suma nadpłat</span></span><span class="tekst"
                id="suma_nadplat"></span>
            </div>
          </li>
          <li>
            <div class="kontainer">
              <div class="filler"></div><span class="naklejka">Zapłacono do banku</span></span><span class="tekst"
                id="suma_cala"></span>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>


  <div class="block m-4">
    <div class="notification">
      <div class="columns is-vcentered">
        <div class="column is-narrow">

          <button class="button is-primary"
            onclick="window.location.href='{{ url_for('dom.kredyt', kredyt_id=kredyt_id) }}'">Dodaj</button>

        </div>
        <div class="column is-narrow">

          Dodaj nadpłatę, wakacje kredytowe lub zmień dzień spłaty.

        </div>
      </div>
    </div>
  </div>



  <div class="block m-4" id="ryswibor">Rys. Wibor 3M. Połączona część rzeczywista z prognozą.</div>

  <div class="block m-4" id="rysInflacja">Rys.Inflacja M/M. Połączona część rzeczywista z prognozą.</div>


  <div class="block m-4" id="rysNadplaty">Rys.Nadpłaty - wartości nominalne.</div>

  <div class="block m-4" id="wykres_kapital">Rys. Kapitał do spłaty (dług) oraz cena kosztowa.</div>

  <div class="block m-4" id="wykres_real">Rys. Wartości nominalne i realne rat, kosztów skumulowanych, i wartości
    nieruchomości.</div>




  <div class="block m-4">
    <div class="notification">
      <div class="columns is-vcentered">
        <div class="column is-narrow">

          <button class="button is-danger" id="btnUsunKredyt">Usuń kredyt</button>
        </div>
        <div class="column is-narrow">



        </div>
      </div>
    </div>
  </div>



  </body>

  <script type="module">
    import { create_chart_koszty } from "{{url_for('static', filename='chart_koszty.js')}}";
    import { create_chart_kapital } from "{{url_for('static', filename='chart_kapital.js')}}";
    import { create_chart_wibor } from "{{url_for('static', filename='chart_wibor.js')}}";
    import { create_chart_inflacja } from "{{url_for('static', filename='chart_inflacja.js')}}";
    import { create_chart_nadplaty } from "{{url_for('static', filename='chart_nadplaty.js')}}";

    var dane1 = JSON.parse('{{wynik|safe}}');
    var inflacja = JSON.parse('{{inflacja|safe}}');
    var real_koszty = JSON.parse('{{real_koszty|safe}}');
    var nom_koszty = JSON.parse('{{nom_koszty|safe}}');
    var nom_cena_kosztowa = JSON.parse('{{nom_cena_kosztowa|safe}}');
    var real_cena_kosztowa = JSON.parse('{{real_cena_kosztowa|safe}}');
    var real_raty = JSON.parse('{{real_raty|safe}}');
    var nom_raty = JSON.parse('{{nom_raty|safe}}');
    var nom_kpo = JSON.parse('{{nom_kpo|safe}}');
    var real_kpo = JSON.parse('{{real_kpo|safe}}');
    var nom_kmiesiac = JSON.parse('{{nom_kmiesiac|safe}}');
    var real_kmiesiac = JSON.parse('{{real_kmiesiac|safe}}');
    var real_wartosc_nieruchomosc = JSON.parse('{{real_wartosc_nieruchomosc|safe}}');
    var nom_wartosc_nieruchomosc = JSON.parse('{{nom_wartosc_nieruchomosc|safe}}');
    var wibor_all = JSON.parse('{{wibor|safe}}');
    var fin_data = JSON.parse('{{fin_data|safe}}');
    const oprocentowanie = JSON.parse('{{oprocentowanie|safe}}');

    console.log(oprocentowanie)

    const kredyt_id = {{ kredyt_id }};

    var wibor = wibor_all['dane']
    var rodzaj_wiboru = wibor_all['rodzaj_wiboru']

    console.log(dane1)
    console.log('kmiesiac')
    console.log(nom_kmiesiac)


    var zloty = function (d) { return d3.format(",.2f")(d) + " zł"; }

    var suma_rat = d3.sum(dane1['raty'], d => d.rata)
    var suma_nadplat = d3.sum(dane1['nadplaty'], d => d.kwota)
    var suma_kapitalow = d3.sum(dane1['raty'], d => d.kapital)


    d3.select("#kapital").text(zloty(fin_data['kapital']))
    d3.select("#okresy").text(fin_data['okresy'])
    d3.select("#marza").text(fin_data['marza'] + '%')
    d3.select("#data_start").text(fin_data['data_start'])
    d3.select("#suma_rat").text(zloty(suma_rat))
    d3.select("#suma_nadplat").text(zloty(suma_nadplat))
    d3.select("#suma_cala").text(zloty(suma_rat + suma_nadplat))
    d3.select("#rodzaj_wiboru_id").text('WIBOR ' + rodzaj_wiboru)

    d3.select("#nadplaty_wszystkie").text(zloty(suma_nadplat))




    var width_docs = document.getElementById('ryswibor').clientWidth;

    var margin1 = { top: 40, right: 30, bottom: 70, left: 80 },
      margin2 = { top: 160, right: 30, bottom: 70, left: 80 },
      width = width_docs - margin1.left - margin1.right,
      height = 450 - margin1.top - margin1.bottom;


    var parseDateWykres = d3.timeParse("%Y-%m-%d");
    var parseDateRealKPO = d3.timeParse("%Y-%m");


    var dane_wykres = dane1['raty']
    dane_wykres.forEach(function (d) {
      d.dzien = parseDateWykres(d.dzien)
      d.K_po = parseFloat(d.K_po)
      d.rata = parseFloat(d.rata)
    });

    console.log('nom kpo');
    console.log(nom_kpo);

    nom_kpo.forEach(function (d) {
      d.miesiac = d.dzien;
      d.dzien = parseDateRealKPO(d.dzien);
      d.K_po = parseFloat(d.wartosc);
    });

    nom_cena_kosztowa.forEach(function (d) {
      d.miesiac = d.dzien;
      d.dzien = parseDateRealKPO(d.dzien);
      d.wartosc = parseFloat(d.wartosc);
    });

    real_cena_kosztowa.forEach(function (d) {
      d.miesiac = d.dzien;
      d.dzien = parseDateRealKPO(d.dzien);
      d.wartosc = parseFloat(d.wartosc);
    });

    real_kpo.forEach(function (d) {
      d.dzien = parseDateRealKPO(d.miesiac)
      d.K_po = parseFloat(d.wartosc)
    });

    nom_kmiesiac.forEach(function (d) {
      d.miesiac = d.dzien;
      d.dzien = parseDateRealKPO(d.dzien);
      d.K_po = parseFloat(d.wartosc);
    });

    real_kmiesiac.forEach(function (d) {
      d.dzien = parseDateRealKPO(d.miesiac)
      d.K_po = parseFloat(d.wartosc)
    });



    nom_koszty.sort(function (x, y) {
      return d3.ascending(x.dzien, y.dzien);
    })



    var parseDate = d3.timeParse("%Y-%m");
    var cumsum_nom = 0

    nom_koszty.forEach(function (d) {
      d.huj = d.dzien;
      d.miesiac = parseDate(d.dzien);
      d.wartosc = parseFloat(d.wartosc);
      cumsum_nom = cumsum_nom + d.wartosc;
      d.cumsum_nom = cumsum_nom;

    });

    console.log('nom koszty')
    console.log(nom_koszty)






    nom_cena_kosztowa.forEach(function (d) {

      d.miesiac = parseDate(d.miesiac)
      d.wartosc = parseFloat(d.wartosc)


    });



    var parseDate = d3.timeParse("%Y-%m");



    real_koszty.sort(function (x, y) {
      return d3.ascending(x.miesiac, y.miesiac);
    })

    var cumsum = 0;

    real_koszty.forEach(function (d) {
      d.huj = d.miesiac;
      d.miesiac = parseDate(d.miesiac);
      d.wartosc = parseFloat(d.wartosc);
      cumsum = cumsum + d.wartosc;
      d.cumsum = cumsum;

    });





    real_cena_kosztowa.forEach(function (d) {

      d.miesiac = parseDate(d.miesiac)
      d.wartosc = parseFloat(d.wartosc)


    });

    console.log(real_cena_kosztowa)

    console.log('--real kpo---')
    console.log(real_kpo)

    d3.select('#btnUsunKredyt').attr('onclick', "window.location.href='{{ url_for('dom.usun_kredyt', kredyt_id=0) }}'".replace("0", kredyt_id))


    create_chart_wibor(margin1, width, height, wibor, oprocentowanie);
    create_chart_inflacja(margin1, width, height, inflacja);
    create_chart_nadplaty(margin1, width, height, dane1['nadplaty']);
    create_chart_kapital(margin2, width, 1200, nom_kpo, nom_cena_kosztowa, real_kpo, real_cena_kosztowa);
    create_chart_koszty(margin2, width, 1400, real_koszty, nom_koszty, real_raty, nom_raty, real_wartosc_nieruchomosc, nom_wartosc_nieruchomosc);

  </script>

  {% endblock %}